<section class="section section--dark section--main section--table">
    <div class="section--tableCell">
        <div class="main-header">
            <div class="container">
                <div class="row">
                    <div class="column-4 column-md-6 column-sm-8">
                        <h1 class="main-header__title">
                            Посуда оптом
                            от производителя!
                        </h1>
                        <ul class="main-header__list">
                            <li>Фарфор от <span class="red-bold">175 ₽</span> <span class="small">за тарелку</span></li>
                            <li>Опал от <span class="red-bold">2875 ₽</span> <span class="small">за набор</span></li>
                        </ul>
                        <div class="column-6 column-md-6 column-sm-8">
                            <p class="main-header__leave-order main-header__leave-order--desktop">Оставьте заявку прямо сейчас и получите 10% скидку!</p>
                            <p class="main-header__leave-order main-header__leave-order--mobile">Оставьте заявку прямо сейчас<br/>и получите 10% скидку!</p>
                            <form action="" name="call-back-form">
                                <div class="row">
                                    <div class="column-4 column-xs-8">
                                        <input type="text" name="name" placeholder="Имя">
                                    </div>
                                    <div class="column-4 column-xs-8">
                                        <input type="text" name="phone" placeholder="Телефон">
                                    </div>
                                    <div class="column-8">
                                        <button id="submit-form" class="btn-base-red" style="width: 100%; margin-top: 25px">Обратный звонок</button>
                                    </div>
                                </div>
                            </form>
                            <p class="main-header__we-will-call">Мы перезвоним в течении 15 минут!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>