<div class="column-2 {{ item.offset }}">
    <div class="guarantee__item">
        <div class="guarantee__item-icon">
            {#<img src="{{ item.imageUrl }}" alt="" class="{{ item.classImage }}">#}
            {{ item.svgImage | safe }}
        </div>
        <div class="guarantee__item-title">
            {{ item.title }}
        </div>
        <div class="guarantee__item-text">
            {{ item.text | safe }}
        </div>
    </div>
</div>