<div class="column-2 {{ item.offset }}">
    <div class="guarantee__item">
        <div class="guarantee__item-icon" style="background-image: url('{{ item.imageUrl }}')">

        </div>
        <div class="guarantee__item-title">
            {{ item.title }}
        </div>
        <div class="guarantee__item-text">
            {{ item.text | safe }}
        </div>
    </div>
</div>