<section class="section section--dark section--call-to-action">
    <img src="./images/paper.png" alt="" class="block-call-to-action__image-paper rellax" data-rellax-speed="2.5" data-rellax-percentage="0.6">
    <div class="block-call-to-action">
        <div class="container">
            <div class="row">
                <div class="column-4 column-sm-8 column-offset-left-4 column-sm-offset-left-0">
                    <h2 class="block-call-to-action__title">
                        Не ждите, оставьте заявку прямо сейчас и получите наш оптовый прайс-лист.
                    </h2>
                    <div class="block-call-to-action__text">
                        <p>
                            Наши менеджеры помогут вам в выборе товара, а также проконсультируют вас о наличии товара на складе.
                        </p>
                    </div>
                    <div class="row">
                        <div class="column-8">
                            <div class="block-call-to-action__get-price">
                                <a href="#getPriceModal" class="btn-base-red link-get-price-form">Получить прайс</a>
                            </div>
                        </div>
                    </div>
                    <div class="block-call-to-action__description">
                        <p>О наличии товара на складее можно будет <a href="">уточнить у менеджера.</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>