<div class="{{ item.class }}">
    <div class="how-we-work__item">
        <div class="how-we-work__item-icon">
            {{ item.svgImage | safe }}
        </div>
        <div class="how-we-work__item-text">
            {{ item.text }}
        </div>
    </div>
</div>