<div class="{{ item.class }}">
    <div class="how-we-work__item how-we-work__item--bottom">
        <div class="how-we-work__item-text how-we-work__item-text--bottom">
            {{ item.text }}
        </div>
        <div class="how-we-work__item-icon how-we-work__item-icon--bottom">
            {{ item.svgImage | safe }}
        </div>
    </div>
</div>