<section class="section section--light section--how-we-work">
    <div class="how-we-work">
        <div class="container">
            <h2 class="how-we-work__title" style="text-align: center;">Как мы работаем?</h2>
            <img src="./images/how-we-work.png" alt="" class="how-we-work__image">
        </div>
    </div>
</section>