<section class="section section--light" id="our-advantages">
    <img src="./images/absolute-elements/spoon.png" alt="" class="absolute-element absolute-element--spoon rellax" data-rellax-speed="6" data-rellax-percentage="1.5">
    <img src="./images/absolute-elements/fork.png" alt="" class="absolute-element absolute-element--fork rellax" data-rellax-speed="4" data-rellax-percentage="0.8">
    <img src="./images/absolute-elements/mug.png" alt="" class="absolute-element absolute-element--mug rellax" data-rellax-speed="2" data-rellax-percentage="5.5">
    <div class="our-advantages">
        <div class="container">
            <h2 class="our-advantages__title">
                Преимущества нашей работы
            </h2>
            {% set items = [
            {
                offset: 'column-offset-left-3 column-sm-offset-left-0',
                imageUrl: './images/count-item/1.png',
                text: 'Мы поставляем посуду напрямую с завода, что позволяет гарантировать низкие цены и высокое качество продукции.'
            },
            {
                offset: 'column-offset-left-1 column-sm-offset-left-0',
                imageUrl: './images/count-item/2.png',
                text: 'Наша посуда для ресторана будет идеальным дополнением. Уверены, что ваши посетителе по достоинству оценят качество и эксклюзивность посуды.'
            },
            {
                offset: 'column-offset-left-3 column-sm-offset-left-0',
                imageUrl: './images/count-item/3.png',
                text: 'Мы поставляем посуду оптом в Москве, но в том числе работаем со всеми регионами РФ.'
            },
            {
                offset: 'column-offset-left-1 column-sm-offset-left-0',
                imageUrl: './images/count-item/4.png',
                text: 'Вся посуда произведена из высококачественных материалов,<br/>опала и фарфора.'
            }
            ] %}
            {% for item in items %}
                {% include 'pages/section_advantages/_item/_item.njk' %}
            {% endfor %}
        </div>
    </div>
</section>