<section class="section section--dark section--we-have">
    <div class="we-have">
        <div class="container">
            <div class="row">
                <div class="column-4 column-sm-8">
                    <h2 class="we-have__title">Мы имеем большой ассортимент посуды для ресторанов, баров и кафе.</h2>
                    <div class="we-have__text">
                        <p>
                            Начиная от тарелок и блюдец, заканчивая чашками, бокалами и предметами сервировки.
                            <br/>
                            <br/>
                            Вы сможете сами убедится в этом в нашем шоу-руме в Москве.
                            Там вы сможете сразу понять, какая посуда нужна именно вам и сразу сформировать запрос на покупку именно той партии которая вам нужна.
                        </p>
                    </div>
                    <div class="row">
                        <div class="column-4">
                            <div class="we-have__call-manager we-have__call-manager--desktop">
                                <a href="#" class="btn-base-red btn-base-red--outline-border">Уточнить у менеджера</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column-4 column-sm-8">
                    <div class="we-have__video-block">
                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/7dz4IzDQ3hg" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column-8">
                    <div class="we-have__call-manager we-have__call-manager--mobile">
                        <a href="#" class="btn-base-red btn-base-red--outline-border">Уточнить у менеджера</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>