<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="column-2">
                <div class="footer__logo footer__logo--desktop">
                    Посудник.
                </div>
                <div class="footer__site-link footer__site-link--desktop">
                    <a href="http://www.posuda-optom.su" target="_blank">www.posuda-optom.su</a>
                </div>
            </div>
            <div class="column-5 column-sm-8 column-offset-left-1 column-sm-offset-left-0">
                <p class="footer__form-text">Оставьте заявку прямо сейчас и получите 10% скидку!</p>
                <form action="call-to-manager.php" class="call-back-form" method="post">
                    <div class="row">
                        <div class="footer__form-group footer__form-group--input">
                            <input type="text" name="name" placeholder="Имя">
                        </div>
                        <div class="footer__form-group footer__form-group--input">
                            <input type="text" name="phone" placeholder="Телефон">
                        </div>
                        <div class="footer__form-group footer__form-group--button">
                            <input type="submit" name="submit" class="btn-base-red" style="width: 100%;" value="Обратный звонок">
                        </div>
                        <div class="sent-success sent-success--light">Спасибо! Ваша заявка принята.</div>
                    </div>
                </form>
            </div>
            <div class="column-8">
                <div class="footer__logo-with-link">
                    <div class="footer__logo footer__logo--mobile">
                        Посудник.
                    </div>
                    <div class="footer__site-link footer__site-link">
                        <a href="http://www.posuda-optom.su" target="_blank">www.posuda-optom.su</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>