<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="column-2">
                <div class="footer__logo">
                    Посудник
                </div>
                <div class="footer__site-link">
                    <a href="http://www.posuda-optom.su" target="_blank">www.posuda-optom.su</a>
                </div>
            </div>
            <div class="column-5 column-offset-left-1">
                <p>Оставьте заявку прямо сейчас и получите 10% скидку!</p>
                <form action="" name="call-back-footer">
                    <div class="row">
                        <div class="column-2">
                            <input type="text" name="name" placeholder="Имя">
                        </div>
                        <div class="column-2">
                            <input type="text" name="phone" placeholder="Телефон">
                        </div>
                        <div class="column-3">
                            <button class="btn-base-red" style="height: 48px; width: 100%;">Обратный звонок</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</footer>