<header class="header">
    <div class="container">
        <div class="header__logo header__elem">
            Посудник
        </div>
        <div class="header__main-menu header__elem">
            {#<div class="header__burger">
                <span></span>
                <span></span>
                <span></span>
            </div>#}
            <ul class="header__nav header__nav--desktop">
                <li><a href="#">О нас</a></li>
                <li><a href="#">Цены</a></li>
                <li><a href="#">Шоу-рум</a></li>
                <li><a href="#">Партнерам</a></li>
            </ul>
            {#<ul class="header__nav header__nav--mobile">
                <li><a href="#">О нас</a></li>
                <li><a href="#">Цены</a></li>
                <li><a href="#">Шоу-рум</a></li>
                <li><a href="#">Партнерам</a></li>
            </ul>#}
        </div>
        <div class="header__tel header__elem">
            <a href="tel:+79167755874">+7 916 77 55 874</a>
        </div>
    </div>
</header>