<section class="section section--light">
    <div class="block-reviews">
        <h2 style="text-align: center; margin-bottom: 70px">Отзывы клиентов</h2>
        <div class="owl-carousel owl-theme reviews-carousel">
            {% set items = [
            {
                imageUrl: './images/clients/1.jpg',
                name: 'Багонов Алихан 27 лет.',
                place: 'Генеральный директор Rich-Lounge.<br/>rich-lounge.ru',
                text: 'Хочется поблагодарить компанию plates&cups за вклад в развитие нашего лаунж кафе!
                При открытии мы столкнулись с проблемами поставки посуды. Мы сделали заказ, но поставщик не
                смог отгрузить товар в срок, а потом и вовсе по какой-то причине увеличилась цена. Открытие ресторана
                было на гране срыва, а даты и приглашения уже были утверждены и отправлены, тогда знакомые посоветовали
                компанию plates&cups. Они смогли сформировать нам поставку в кратчайшие сроки и по более низкой цене чем
                от предыдущего поставщика. Посуда оптом от компании plates&cups это большая выгода для любого заказчика.
                Хочется от души вас поблагодарить, вы нас практически спасли!'
            },
            {
                imageUrl: './images/clients/2.jpg',
                name: 'Екатерина Самойлова 32 года.',
                place: 'Владелец ресторана “Моника”',
                text: 'Когда мы только открывали свой первый ресторан у нас встал вопрос о том, какую посуду мы хотим закупить
                и по какой стоимости. Мы долго искали посуду оптом так, чтобы качество соответствовало цене и в итоге стали работать с компанией plates&cups. Остались очень довольны.
                Ребята выполнили все условия, поставили всю посуду точно в срок и по очень приятной цене.
                А качество посуды нас очень приятно порадовало. Теперь работаем с ними постоянно!'
            },
            {
                imageUrl: './images/clients/3.jpg',
                name: 'Александр Асколов 36 лет.',
                place: 'Коммерческий директор Simona&Co.',
                text: 'Наша компания занимается оформлением кафе и ресторанов, а также формированием дизайна заведения,
                куда также входит и посуда. Нам часто приходится искать поставщиков качественной продукции в разделе “посуда
                для ресторана”.
                Мы всегда советуем нашим клиентам работать с компанией plates&cups.
                Поставки всегда в срок, большой ассортимент товара и гарантия качества продукции.
                Работаем с компанией более 3 лет, ни разу не разочаровались. Спасибо вам большое!'
            },
            {
                imageUrl: './images/clients/4.jpg',
                name: 'Арутюнян Микаэль 35 лет.',
                place: 'Частный предприниматель.',
                text: 'Я работаю с компанией plates&cups уже 2 год. За время нашего сотрудничества,
                компания ни разу не нарушила данные мне обещания. Всегда отгружают товар в срок, посуда всегда
                высокого качества и без брака. Хочется отдельно поблагодарить менеджеров компании, когда нужно купить
                посуду оптом, я всегда обращаюсь к ним. Решают любые мои запросы за 30 минут и я уже получаю готовый
                вариант поставки. Спасибо вам, вы лучшие!'
            }
            ] %}
            {% for item in items %}
                {% include 'pages/section_reviews/_item/_item.njk' %}
            {% endfor %}
        </div>
    </div>
</section>