<section class="section section--light">
    <div class="block-reviews">
        <h2 style="text-align: center; margin-bottom: 90px">Отзывы клиентов</h2>
        <div class="owl-carousel owl-theme nonloop">
            <div><img src="./images/bg-we-have.jpg" alt=""> </div>
            <div> <img src="./images/bg-we-have.jpg" alt="">  </div>
            <div> <img src="./images/bg-we-have.jpg" alt="">  </div>
            <div> <img src="./images/bg-we-have.jpg" alt="">  </div>
            <div> Your Content </div>
            <div> Your Content </div>
            <div> Your Content </div>
        </div>
    </div>
</section>