*
  box-sizing: border-box
html, body
  background: #ffffff
  //overflow-x: hidden
  font-family: 'Ubuntu Regular', sans-serif
  font-size: 1rem

.red-bold
  font-family: 'PT Sans Bold', sans-serif
  color: $base-color-red
  font-size: 3.33rem
  line-height: 48px
  +media-480
    font-size: 2.33rem

a
  transition: 0.3s all