.block-call-to-action
  padding: 95px 0px
  &__image-paper
    position: absolute
    left: 0
    bottom: -65px
  &__title
    line-height: 48px
  &__text
    margin-top: 80px
  &__get-price
    padding-top: 70px
    a
      display: inline-block
      text-decoration: none
      padding: 15px 55px
  &__description
    margin-top: 60px
    a
      color: $base-color-red
      &:hover
        text-decoration: none
        color: #ffffff