.footer
  padding: 25px 0px
  font-size: 0px
  &__logo
    font-family: 'RobotoSlab Bold', sans-serif
    font-size: 18px
    text-align: left
    text-transform: uppercase
    color: #000000
  &__site-link
    font-size: 18px
    margin-top: 35px
    a
      text-decoration: none
      color: #000000
      &:hover
        text-decoration: underline
  &__form-group
    display: inline-block
    padding: 0px 12px
    width: (100% / 3)