.container
  max-width: 1152px
  padding-left: 12px
  padding-right: 12px
  margin: 0 auto
  +clearfix
  +media-1152
    padding-left: 2.5%
    padding-right: 2.5%
  +media-750
    padding-left: 13%
    padding-right: 13%

.row
  margin-left: -12px
  margin-right: -12px
  +clearfix

$col-count: 8
$col-with: 100% / $col-count
@for $i from 0 through $col-count
  .column-#{$i}
    float: left
    padding-left: 12px
    padding-right: 12px
    width: $col-with * $i

  .column-md-#{$i}
    +media-1080
      float: left
      padding-left: 12px
      padding-right: 12px
      width: $col-with * $i


  .column-sm-#{$i}
    +media-750
      float: left
      padding-left: 12px
      padding-right: 12px
      width: $col-with * $i


@for $i from 0 through $col-count
  .column-offset-left-#{$i}
    margin-left: $col-with * $i

@for $i from 0 through $col-count
  .column-sm-offset-left-#{$i}
    +media-750
      margin-left: $col-with * $i

@for $i from 1 through $col-count
  .column-offset-right-#{$i}
    margin-right: $col-with * $i