.main-header
  font-family: 'Ubuntu Regular', sans-serif
  &__title
    font-family: 'PT Sans Bold', sans-serif
    line-height: 60px
    margin-bottom: 75px
  &__list
    font-family: 'Ubuntu Bold', sans-serif
    list-style: disc
    font-size: 36px
    line-height: 48px
    color: #ffffff
    margin-left: 40px
    margin-bottom: 50px
    .small
      font-family: 'Ubuntu Regular', sans-serif
      font-size: 24px