.our-advantages
  position: relative
  text-align: center
  padding-top: 80px
  padding-bottom: 40px
  z-index: 3
  +media-550
    padding-top: 100px
  &__title
    margin-bottom: 20px
  &__item
    font-size: 0px
    +media-750
      padding: 50px 0px
  &__item-count
    display: inline-block
    height: 228px
    background-size: contain
    background-position: center left
    background-repeat: no-repeat
    width: 30%
    opacity: .05
    vertical-align: middle
    +media-750
      height: 198px
    +media-480
      height: 150px
  &__item-text
    display: inline-block
    position: relative
    width: 70%
    vertical-align: middle
    p
      text-align: left