.our-partners
  padding: 95px 0px
  +media-750
    display: none
  .partners-carousel
    &__item
      display: table-cell
      vertical-align: middle
      text-align: center
    .owl-stage
      height: 115px
    .owl-item
      height: 115px
      display: table
      //float: none
      //display: inline-block
      //vertical-align: middle
      img
        display: inline-block
        max-width: 100%
        width: auto
        max-height: 115px
        filter: grayscale(100%)
        opacity: .7
        transition: .3s all
        &:hover
          filter: grayscale(0%)
          opacity: 1
