.our-partners
  padding: 95px 0px

  .partners-carousel
    .owl-item
      float: none
      display: inline-block
      vertical-align: middle
      img
        filter: grayscale(100%)
        opacity: .7
        transition: .3s all
        &:hover
          filter: grayscale(0%)
          opacity: 1
