.we-have
  padding: 115px 0px
  position: relative
  &__text
    margin-top: 75px
  &__call-manager
    padding-top: 70px
    a
      display: inline-block
      padding: 15px 25px
      text-decoration: none
  &__video-block
    padding-top: 15%