<section class="section section--dark section--for-partners" id="for-partners">
    <div class="for-partners">
        <div class="container">
            <div class="column-5 column-sm-8">
                <h2 style="margin-bottom: 50px;">Партнерам</h2>
                <div class="for-partners__text">
                    <p>
                        Также мы рассматриваем варианты сотрудничества для тех людей кого интересует посуда оптом в Москве. Если у вас есть предложения или вы хотите стать дилером в своем регионе, мы готовы рассмотреть ваше предложение и обсудить условия.
                        Мы ищем взаимовыгодное сотрудничество в сфере поставок посуды оптом.
                        <br/>
                        <br/>
                        Отправляйте свои предложения на почту: <a href="mailto:deal@posuda-optom.su" class="for-partners__mail-link">deal@posuda-optom.su</a>
                        <br/>
                        <br/>
                        или позвоните по телефону в Москве
                        <br/>
                        <br/>
                        <a href="tel:+79167755874" class="for-partners__tel-link">+7 916 77 55 874</a>
                        <br/>
                        <br/>
                        Мы обязательно рассмотрим ваше предложение.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>