<section class="section section--light">
    <div class="our-partners">
        <div class="container">
            <h2 style="text-align: center; margin-bottom: 80px">Наши партнеры</h2>
            <div class="owl-carousel partners-carousel">
                {% set items = [
                {
                imageUrl: './images/partners/1.png'
                },
                {
                imageUrl: './images/partners/2.png'
                },
                {
                imageUrl: './images/partners/3.png'
                },
                {
                imageUrl: './images/partners/4.png'
                },
                {
                imageUrl: './images/partners/5.png'
                },
                {
                imageUrl: './images/partners/6.png'
                },
                {
                imageUrl: './images/partners/7.png'
                }
                ] %}
                {% for item in items %}
                    {% include 'pages/section_partners/_item/_item.njk' %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>