<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {#<meta name="viewport" content="width=1152, initial-scale=1">#}

    <title>Project</title>

    <meta name="keywords" content="">
    <meta name="description" content="">

    <link rel="shortcut icon" href="./images/favicon/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="./images/favicon/apple-touch-icon.png" type="image/png">

    <link rel="stylesheet" href="./css/application.css">
</head>
<body>
{% include "shared/_header.njk" %}

<main>
    {% block content %}{% endblock %}
</main>
<div class="modal-window__wrapper mfp-hide" id="callManagerModal">
    <h3>Заявка на наличие</h3>
    <p style="font-size: 16px; margin-top: 20px;">Менеджер свяжется с вами в течении 15 минут</p>
    <form action="call-to-manager.php" id="callManagerForm" method="post" class="call-back-form">
            <input type="text" name="name" id="name" placeholder="Имя" required="required">
            <input type="text" name="phone" id="phone" placeholder="Телефон" style="margin-top: 20px;" required="required">
            <input type="submit" name="send" id="submitToManager" class="btn-base-red" style="margin-top: 20px; width: 100%;" value="Оставить заявку">
            <div class="sent-success sent-success--light">Спасибо! Ваша заявка принята.</div>
    </form>
</div>
<div class="modal-window__wrapper mfp-hide" id="getPriceModal">
    <h3>Прайс лист</h3>
    <p style="font-size: 16px; margin-top: 20px;">Введите вашу почту и получите прайс лист</p>
    <form action="" id="getPriceForm" method="post">
        <input type="email" name="email" id="email" placeholder="Email" style="margin-top: 20px;">
        <input type="submit" id="submitToManager" class="btn-base-red" style="margin-top: 20px; width: 100%;" value="Получить">
    </form>
</div>
{% include "shared/_footer.njk" %}
</body>
<script type="text/javascript" src="./js/application.js"></script>
</html>
